services:
  postgres:
    ports:
      - "${POSTGRES_PORT}:5432"

  redis:
    ports:
      - "${REDIS_PORT}:6379"

  api:
    ports:
      - "${API_PORT}:9000"

  web:
    ports:
      - "${WEB_PORT}:3000"
